In [28]:
import pandas as pd
import numpy as np

In [7]:
dataSet = pd.read_csv('insurance_pre.csv')

In [8]:
dataSet = pd.get_dummies(dataSet,drop_first=True)

In [9]:
dataSet.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [10]:
dataSet.keys()

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [11]:
independent = dataSet[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataSet[['charges']]

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

In [14]:
RF_params = {'criterion':['mse','mae'],'max_features':['auto','sqrt','log2']}

In [16]:
grid = GridSearchCV(RandomForestRegressor(),RF_params,refit=True,verbose=3,n_jobs=-1,scoring='r2',cv=5)
grid.fit(independent,dependent)

Fitting 5 folds for each of 6 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  26 out of  30 | elapsed:   32.9s remaining:    5.0s
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   33.9s finished
C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:715: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='r2', verbose=3)

In [21]:
result_table = pd.DataFrame(grid.cv_results_)
result_table.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,1.012937,0.949933,0.007181,0.000399,mse,auto,"{'criterion': 'mse', 'max_features': 'auto'}",0.829459,0.763590,0.863457,0.812489,0.822547,0.818310,0.032299,3
1,0.301445,0.128224,0.008179,0.001163,mse,sqrt,"{'criterion': 'mse', 'max_features': 'sqrt'}",0.852100,0.772157,0.832324,0.830519,0.835325,0.824472,0.027281,1
2,0.182183,0.020782,0.017543,0.010333,mse,log2,"{'criterion': 'mse', 'max_features': 'log2'}",0.848273,0.753660,0.824997,0.812043,0.834136,0.814609,0.032712,4
3,1.103776,0.128728,0.013337,0.014295,mae,auto,"{'criterion': 'mae', 'max_features': 'auto'}",0.823374,0.758908,0.840114,0.817420,0.829072,0.813763,0.028456,6
4,0.578056,0.083972,0.008148,0.002533,mae,sqrt,"{'criterion': 'mae', 'max_features': 'sqrt'}",0.836367,0.759936,0.847389,0.821411,0.806934,0.814408,0.030491,5

In [22]:
grid.best_estimator_

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='sqrt', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [24]:
grid.best_params_

{'criterion': 'mse', 'max_features': 'sqrt'}

In [25]:
grid.best_score_

0.8244724010657704

In [26]:
grid.best_index_

1

In [27]:
grid.refit_time_

0.12588953971862793

In [29]:
np.mean(result_table)

mean_fit_time        0.646329
std_fit_time         0.246483
mean_score_time      0.010361
std_score_time       0.004981
split0_test_score    0.838715
split1_test_score    0.762297
split2_test_score    0.842379
split3_test_score    0.817953
split4_test_score    0.826439
mean_test_score      0.817550
std_test_score       0.030102
rank_test_score      3.500000
dtype: float64